{% extends "layout.twig" %}
{% block title %} Thoth - Reporting {% endblock %}
{% block content %}
<div class="container py-4">
	<div class="card">
		{% include 'pages/project/partials/card_header.twig' with {active_tab: 'reporting', is_owner: false, project: data.project} %}

		<div class="card-body bg-light">
			<h4>Reporting</h4>
			{% include 'pages/project/reporting/partials/tab_nav.twig' %}
			<div class="tab-content p-3" id="reportingTabContent">
				<div class="tab-pane fade show active container-fluid" id="tab_overview" role="tabpanel" aria-labelledby="tab_overview-tab">
					{% include 'pages/project/reporting/tabs/tab_overview.twig' %}
				</div>
				<div class="tab-pane fade container-fluid" id="tab_import_studies" role="tabpanel" aria-labelledby="tab_import_studies-tab">
					{% include 'pages/project/reporting/tabs/tab_import_studies.twig' %}
				</div>
				<div class="tab-pane fade container-fluid" id="tab_study_selection" role="tabpanel" aria-labelledby="tab_study_selection-tab">
					{% include 'pages/project/reporting/tabs/tab_study_selection.twig' with {is_owner: false} %}
				</div>
				<div class="tab-pane fade container-fluid" id="tab_quality_assessment" role="tabpanel" aria-labelledby="tab_quality_assessment-tab">
					{% include 'pages/project/reporting/tabs/tab_quality_assessment.twig' with {is_owner: false} %}
				</div>
				{% if data.project is defined and data.project.get_extraction > 0 %}
					<div class="tab-pane fade container-fluid" id="tab_data_extraction" role="tabpanel" aria-labelledby="tab_data_extraction-tab">
						{% include 'pages/project/reporting/tabs/tab_data_extraction.twig' with {data: data} %}
					</div>
				{% endif %}
			</div>
		</div>
		<br>
	</div>
</div>

<script>
	$(function () {
		const dataLabelsPie = {
			enabled: true,
			format: '<b>{point.name}</b>: {point.percentage:.1f} %',
			style: {
				color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
			}
		};

		const pieBase = {
			chart: { plotBackgroundColor: null, plotBorderWidth: null, plotShadow: false, type: 'pie' },
			tooltip: { pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b> ({point.y})' },
			plotOptions: {
				column: { colorByPoint: true },
				pie: { allowPointSelect: true, cursor: 'pointer', dataLabels: dataLabelsPie }
			}
		};

		if ($('#overview_tab_funnel').length) {
			Highcharts.chart('overview_tab_funnel', {
				chart: { type: 'funnel' },
				title: { text: '{{ data.project.get_title|e('js') }} Funnel' },
				plotOptions: {
					series: {
						dataLabels: {
							enabled: true,
							format: '<b>{point.name}</b> ({point.y:,.0f})',
							softConnector: true
						},
						center: ['40%', '50%'],
						neckWidth: '30%',
						neckHeight: '25%',
						width: '80%'
					}
				},
				legend: { enabled: false },
				series: [{{ data.funnel|json_encode|raw }}]
			});
		}

		if ($('#overview_tab_act').length) {
			Highcharts.chart('overview_tab_act', {
				chart: { type: 'line' },
				title: { text: 'Failure of Daily Project Activities' },
				xAxis: { categories: {{ data.activity_categories|json_encode|raw }} },
				yAxis: { title: { text: 'Activities' } },
				plotOptions: { line: { dataLabels: { enabled: true }, enableMouseTracking: false } },
				series: {{ data.activity_series|json_encode|raw }}
			});
		}

		if ($('#overview_tab_papers_per_database').length) {
			Highcharts.chart('overview_tab_papers_per_database', Object.assign({}, pieBase, {
				title: { text: 'Papers per Database' },
				series: [{ name: 'Brands', colorByPoint: true, data: {{ data.databases|json_encode|raw }} }]
			}));
		}

		if ($('#overview_tab_papers_per_selection').length) {
			Highcharts.chart('overview_tab_papers_per_selection', Object.assign({}, pieBase, {
				title: { text: 'Papers per Status Selection' },
				series: [{ name: 'Brands', colorByPoint: true, data: {{ data.status_selection|json_encode|raw }} }]
			}));
		}

		if ($('#overview_tab_papers_per_quality').length) {
			Highcharts.chart('overview_tab_papers_per_quality', Object.assign({}, pieBase, {
				title: { text: 'Papers per Status Quality' },
				series: [{ name: 'Brands', colorByPoint: true, data: {{ data.status_qa|json_encode|raw }} }]
			}));
		}

		if ($('#overview_tab_papers_gen_score').length) {
			Highcharts.chart('overview_tab_papers_gen_score', Object.assign({}, pieBase, {
				title: { text: 'Papers per General Score' },
				series: [{ name: 'Brands', colorByPoint: true, data: {{ data.gen_score|json_encode|raw }} }]
			}));
		}

		if ($('#import_tab_papers_per_database').length) {
			Highcharts.chart('import_tab_papers_per_database', Object.assign({}, pieBase, {
				title: { text: 'Papers per Database' },
				series: [{ name: 'Brands', colorByPoint: true, data: {{ data.databases|json_encode|raw }} }]
			}));
		}

		if ($('#selection_tab_papers_per_selection').length) {
			Highcharts.chart('selection_tab_papers_per_selection', Object.assign({}, pieBase, {
				title: { text: 'Papers per Status Selection' },
				series: [{ name: 'Brands', colorByPoint: true, data: {{ data.status_selection|json_encode|raw }} }]
			}));
		}

		if ($('#quality_tab_papers_per_quality').length) {
			Highcharts.chart('quality_tab_papers_per_quality', Object.assign({}, pieBase, {
				title: { text: 'Papers per Status Quality' },
				series: [{ name: 'Brands', colorByPoint: true, data: {{ data.status_qa|json_encode|raw }} }]
			}));
		}

		if ($('#quality_tab_papers_gen_score').length) {
			Highcharts.chart('quality_tab_papers_gen_score', Object.assign({}, pieBase, {
				title: { text: 'Papers per General Score' },
				series: [{ name: 'Brands', colorByPoint: true, data: {{ data.gen_score|json_encode|raw }} }]
			}));
		}

		const extractionSelect = {{ (data.extraction is defined ? data.extraction : [])|json_encode|raw }};
		const extractionMultiple = {{ (data.multiple is defined ? data.multiple : [])|json_encode|raw }};

		function renderExtractionCharts() {
			const chartsContainer = document.getElementById('tab_data_extraction_charts');
			if (!chartsContainer) {
				return;
			}

			chartsContainer.innerHTML = '';
			const allExtractions = extractionSelect.concat(extractionMultiple);

			if (!allExtractions.length) {
				chartsContainer.innerHTML = '<div class="alert alert-info mb-0">No extraction charts available for this project yet.</div>';
				return;
			}

			allExtractions.forEach(function (item) {
				const chart = new Extraction_Chars(item.id, item.type, item.data, 'tab_data_extraction_charts');
				chart.show();
			});
		}

		if ($('#tab_data_extraction').length) {
			$('a[data-bs-toggle="pill"][href="#tab_data_extraction"]').on('shown.bs.tab', function () {
				renderExtractionCharts();
			});

			if ($('#tab_data_extraction').hasClass('show') || $('#tab_data_extraction').hasClass('active')) {
				renderExtractionCharts();
			}
		}
	});
</script>
{% endblock %}
